*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.active{
    overflow: hidden;
}


.aboutuscontainer{
    padding: 5%;
    background-color: #E8F6F6;
}

.mainabout{
    background-color: #DFFCBA;
    padding-bottom: 5%;
}

.topabout{
    display: flex;
}

.titleabout{
    font-size: 60px;
    padding-top: 17%;
}

.textabout{
    margin-left: 8%;
    margin-right: 8%;
    font-size: 28px;
    text-align: left;
}

