@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    --grayline : #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    min-height: 100vh;
    background:#ffff;
    font-family: "Ubuntu", sans-serif;

}

.container{
    position: relative;
    width: 100%;
    height: calc(96vh - 1px);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    margin-top: 2%;
}

.community{
    border-bottom: #1A5AFF solid 2px;
    margin-right: 0px;
}

.leftSide{
    /* display: flex; */
    position: relative;
    width: 55%;
    margin-left: 8%;
    margin-top: 5%;
    background: #fff;
}

.rightSide{
    position: fixed;
    width: 35%;
    height: 100vh;
    right: 0;
    background: #fff;
    border-left: gray solid 1px;
}

.menu-container {
    display: flex;
    width: 92.5%;
    margin-top: -2%;
    border-bottom: var(--grayline) solid 1px;
    
  }
  
.menu-btn {
    background-color: transparent;
    color: black;
    border: 1px solid white;
    margin-left: 0%;
    /* padding-left: 20px; */
    margin-right: 44px;
    /* margin-left: px; */
    margin-top: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
  
.menu-btn:last-child {
    margin-right: 0;
}
  
.line {
    border-top: 2px solid #ddd;
    margin: 10px 0;
    margin-left: 20px;
}

.community-list{
    position: relative;
    margin-top: -0.1%;
    overflow-y: auto;
    width: 98%;
    height: calc(100% - 20px);
}

.community-list::-webkit-scrollbar{
    display: none;
}

.community-box {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
  }
  
  .community-box img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
    margin-bottom: 2%;
  }
  
  .community-info h3 {
    margin: 0;
    font-size: 15px;

  }
  
  .community-info .members {
    margin: 5px 0;
    font-size: 10px;
    color: black;
  }
  
  .community-info .description {
    margin: 0;
    font-size: 14px;
    color: black;
  }
  

  .profile-box {
    position: fixed;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 16px;
    padding: 20px;
    margin-top: 3%;
  }  

  .profile-box-follow {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .profile-box-follow span {
    font-size: 24px;
  }
  

.profile-header {
    display: flex;
    align-items: center;
}
  
.profile-header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
  
.profile-header p {
    margin-left: 5%;
    font-size: 23px;
}
  
.profile-about {
    margin-top: 20px;
}
  
.profile-about h2 {
    margin: 0;
}
  
.profile-about p {
    margin-top: 10px;
    font-size: 13px;
}
  
.profile-joined {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
  
.profile-joined i {
    font-size: 20px;
    margin-right: 10px;
    margin-top: 2%;
}
  

  
.profile-followers {
    display: flex;
    justify-content: space-around;
    margin-top: 13px;
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;


    /* font-size: 15px; */
}

.info-followers{
    margin: 2% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.info-followers p1, p2 {
    font-size: 1.4em;
}

.profile-about p:first-child {
    font-size: 1.3em;
}
